*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text


По догам и по этой Анне

- Андреенко совершенно не слушает что ему говорят никогда, я ему сказал, убери пожалуйста анну с митингов по коту, она мешает разработчику с котов, она пишет себе в тайминг время что она работает на котах в то, время как тормозится разрабтка на собаках
- Касательно котов и советов Анны, всегда у нее виноват кор и всегда нужно фиксить все в коре, при том, что они специально тянули с переходом на кор везде, к примеру взяли перенос подписки и переносили ее год, аругментируя это тем, что в котах и собаках сложная реализация и всего в коре нет, хотя в коре есть все
- Касательно втупливания носа анны в каждую дырку в котах, она не работает в котах но при этом местами собирает нам билды и отписывает комментарии, что мне вообще не понятно, к примеру она собарала нам билд в котах мы гоняли 2-3 дня, после пришел основной дев и сказал, что билд был собран из старой ветки, зачем так делать?
- Вы меня простите, но слушать анну на митингах просто невозможно, она несет такой суеразрный бред, что просто вянут уши, она называет споты кастомными ивентами которые используются плейсментами и того роду абсолютно антитехнический бред, на что андреенко сам технически неподготовленный кивает головой и говорит делайте как нужно, ИТОГО у анны на каждый минор по 6 часов эстимации, на тикет где просто поправить название спота 6 часов...


Шаблон

Devices:

iOS - 

Android - 

Builds:

2.2.0 

2.2.0.0 

